# Introduction to Data Science - 22KDL
## Lab01: Python fundamentals:

## Preliminaries
Taking user input from the keyboard in Python:

In [1]:
# Execute this cell and then type your name inside the box
name = input("Please enter your names: ")
print(name)

Please enter your name: Phan Van Hoang
Phan Van Hoang

*Note* that everything from the user's keyboard input will be considered as a string. If you want to input an integer (same as float, etc), let's use `int()` to convert it into a correspoinding data type.

## Exercises

### Variable Exercises:
**Q1:** Write a program that asks the user for their name and age, then prints out a message that says "Hello `[name]`, you are `[age]` years old!"
Write a program that takes a user input number and prints out whether the number is odd or even.

In [ ]:
# Your code starts here
name = input('Enter name: ') #input your name
age = input('Enter age: ') #input your age
print('Hello ' + name + ', you are '+age +' years old!') #print name and age


**Q2:** Write a program that takes a user input number and prints out whether the number is odd or even.

In [ ]:
# Your code starts here
number = input('Enter a number: ') #input the number

if int(number) % 2 == 0: # the number is even
    print('The number ' + str(number) + ' is even')
else: # the number is odd
    print('The number ' + str(number) + ' is odd')

### Loop Exercises:
**Q3:** Write a program that prints out the numbers from 1 to 10 using a for loop.

In [ ]:
# Your code starts from here
for i in range(1,11):
    print(i)

**Q4:** Write a program that asks the user to input a number, then prints out all the even numbers between 0 and the user input number using a while loop.

In [ ]:
# Your code starts from here
number =  input('Enter number: ') # input the number
i = 0
while (i <= int(number)):
    if(i % 2 == 0):
        print(i) # print the number which is even

    i = i + 1

### List Exercises:
**Q5:** Write a program that takes the last 5 elements of a list `numbers`

In [ ]:
numbers = [5, 1, 7, 7, 8, 10, -2, 6, 8, 9, -5, 11, 20]

# Your code starts from here:
print(numbers[-5:]) #Take last 5 elements in the list

[8, 9, -5, 11, 20]

**Q6:** Write a program that takes a list of `numbers` from 1 to 10 and returns a new list containing only the even numbers. (Recommend to use list comprehension)

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = []
for x in numbers:
    if x %2 == 0:
        even_numbers.append(x)

print(even_numbers)

### Dictionary Exercises:
**Q7:** Write a program that takes a dictionary of names and ages and returns a new dictionary containing only the names of people who are over 18 years old.

In [ ]:
name_to_age = {'John': 19,
                'Tom': 15,
                'James': 30,
                'Danny': 18,
                'Lisa': 19,
                'Rose': 17,
                'Jisoo': 16,
                'Jennie': 20}

# Your code starts from here
result = {}
for key, value in name_to_age.items():
    if value > 18:
     result.update({key:value})

print(result)

{'John': 19, 'James': 30, 'Lisa': 19, 'Jennie': 20}

### Function Exercises:
**Q8:** Write a function `calc_sum()` that takes a list of numbers `nums` as input and returns the sum of the numbers.

In [ ]:
def calc_sum(nums):
    result = 0
    for x in nums:
        result = result + x
    return result

nums = [5, 3, -2, 4, -1]
calc_sum(nums)

9

**Q9:** Write a function that takes a string as input and returns a dictionary containing the frequency of each character in the string.

In [ ]:
def count_char_freq(input_string):
    my_dict = {}
    for ch in string:
        if ch not in my_dict:
            my_dict.update({ch:1})
        else:
            my_dict[ch] += 1
    return my_dict

string = "abcaccdefeef"
char_freq = count_char_freq(string)

### Pandas Exercises:
Let's use dataset available at https://www.kaggle.com/datasets/shivamb/netflix-shows to complete the following exercises:

**Q10:** Load a CSV file `netflix_titles.csv` into a pandas DataFrame and print out the first 10 rows.

In [ ]:
import pandas as pd

df = pd.read_csv('netflix_titles.csv')
print(df.head(10))

  show_id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                        director  \
0                Kirsten Johnson
1                            NaN
2                Julien Leclercq
3                            NaN
4                            NaN
5                  Mike Flanagan
6  Robert Cullen, José Luis Ucha
7                   Haile Gerima
8                Andy Devonshire
9                 Theodore Melfi

                                                cast  \
0                                                NaN
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                                NaN  September 24, 2021
3                                                NaN  September 24, 2021
4                                              India  September 24, 2021
5                                                NaN  September 24, 2021
6                                                NaN  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...

**Q11:** Show movies that were released between 2016 and 2020 (i.e, including 2016 and 2020). *Hint: you might be interested in `release_year`.

In [ ]:
import pandas as pd

df = pd.read_csv('netflix_titles.csv')

bool =(df['release_year'] >= 2016) & (df['release_year'] <= 2020)
print(df[bool])

     show_id     type                                              title  \
0         s1    Movie                               Dick Johnson Is Dead
16       s17    Movie  Europe's Most Dangerous Man: Otto Skorzeny in ...
17       s18  TV Show                                    Falsa identidad
21       s22  TV Show                             Resurrection: Ertugrul
32       s33  TV Show                                      Sex Education
...      ...      ...                                                ...
8787   s8788    Movie                          You Can’t Fight Christmas
8794   s8795    Movie                                             اشتباك
8796   s8797  TV Show                                         Yunus Emre
8797   s8798  TV Show                                          Zak Storm
8803   s8804  TV Show                                        Zombie Dumb

                                           director  \
0                                   Kirsten Johnson
16    Pedro de Echave García, Pablo Azorín Williams
17                                              NaN
21                                              NaN
32                                              NaN
...                                             ...
8787                                    Kenny Young
8794                                   Mohamed Diab
8796                                            NaN
8797                                            NaN
8803                                            NaN

                                                   cast  \
0                                                   NaN
16                                                  NaN
17    Luis Ernesto Franco, Camila Sodi, Sergio Goyri...
21    Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...
32    Asa Butterfield, Gillian Anderson, Ncuti Gatwa...
...                                                 ...
8787  Brely Evans, Andra Fuller, Persia White, Porsc...
8794  Nelly Karim, Hany Adel, Tarek Abdel Aziz, Ahme...
8796  Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...
8797  Michael Johnston, Jessica Gee-George, Christin...
8803                                                NaN

                                            country          date_added  \
0                                     United States  September 25, 2021
16                                              NaN  September 22, 2021
17                                           Mexico  September 22, 2021
21                                           Turkey  September 22, 2021
32                                   United Kingdom  September 17, 2021
...                                             ...                 ...
8787                                  United States   December 19, 2017
8794                                  Egypt, France    October 11, 2018
8796                                         Turkey    January 17, 2017
8797  United States, France, South Korea, Indonesia  September 13, 2018
8803                                            NaN        July 1, 2019

      release_year rating   duration  \
0             2020  PG-13     90 min
16            2020  TV-MA     67 min
17            2020  TV-MA  2 Seasons
21            2018  TV-14  5 Seasons
32            2020  TV-MA  3 Seasons
...            ...    ...        ...
8787          2017  TV-PG     85 min
8794          2016  TV-14     98 min
8796          2016  TV-PG  2 Seasons
8797          2016  TV-Y7  3 Seasons
8803          2018  TV-Y7  2 Seasons

                                              listed_in  \
0                                         Documentaries
16                  Documentaries, International Movies
17    Crime TV Shows, Spanish-Language TV Shows, TV ...
21    International TV Shows, TV Action & Adventure,...
32    British TV Shows, International TV Shows, TV C...
...                                                 ...
8787                          Comedies, Romantic Movies
8794   Dramas, Independent Movies, International Movies
8796                  International TV Shows, TV Dramas
8797                                           Kids' TV
8803             Kids' TV, Korean TV Shows, TV Comedies

                                            description
0     As her father nears the end of his life, filmm...
16    Declassified documents reveal the post-WWII li...
17    Strangers Diego and Isabel flee their home in ...
21    When a good deed unwittingly endangers his cla...
32    Insecure Otis has all the answers when it come...
...                                                 ...
8787  After stepping in to revitalize his family's h...
8794  Amid the tumult following Egyptian President M...
8796  During the Mongol invasions, Yunus Emre leaves...
8797  Teen surfer Zak Storm is mysteriously transpor...
8803  While living alone in a spooky town, a young g...

[5064 rows x 12 columns]